/* body{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 10px;
    text-align: center;
} */
header{
    background-color: #4b96c5; /* Blue background color */
}
nav {
    background-color: #90bad3; /* Blue background color */
    padding: 10px;
    text-align: center;
}
nav a {
    display: inline-block;
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  nav a:hover {
    background-color: #6d9dbd; /* Darker blue on hover */
  }

  /* Example for colorful navigation items */
  nav a.facts { background-color: #ca2e1d; }
  nav a.footer { background-color: #0fa34d; }
  nav a.conver { background-color: #9f3f79; }

header {
    background-color: rgb(113, 176, 170)6)
    color: #161616;
    padding: 20px; /* Adjust the padding as needed */
    text-align: left;
    font-size: 80px; /* Adjust the font size as needed */
}



section {
    margin-left: 2%; /* Adjust to account for the width of the nav */
    font-size: larger;
}


#box1{
    margin-left: 600px;
    padding-bottom: 50px;
}

h1{
    padding-bottom: 0.5rem;
    color: rgb(76, 46, 104);
    font-size: 260%;
}
h2{
    font-size: 350%;
}
h3{
    font-size: 350%;
    text-align: center;
    color: rgb(20, 6, 44);
}
input[type=number]{
    cursor: cell;
    color: blue
    background-color: rgb(157, 196, 81);
    font-size: x-large;
    font-weight: 300;
}
#input-celcius{
    background-color: rgb(121, 161, 143);
    font-size: x-large;
    font-weight: 300;
}
#input-fahrenheit{
    background-color: rgb(46, 156, 162);
    font-size: x-large;
    font-weight: 300;
}
#input-kelvin{
    background-color: rgb(5, 80, 93);
    font-size: x-large;
    font-weight: 300;
}
.form-padding{
    padding: 3rem 2rem;
}

::-webkit-input-placeholder{
    color: bisque !important+;
}
::-moz-placeholder{
    color: #FFFFFF !important;
}
:-ms-input-placeholder{
    color: #FFFFFF !important;
}
:-moz-placeholder{
    color: #FFFFFF !important;
}
#footer{
    padding-top: 2rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 0.4rem;
    text-align: center;
    background-color: rgb(112, 150, 168)3, 226);
}
#slideshow {
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    text-align: center; /* Center-align the images */
  }
  
  .slide {
    display: none;
    text-align: center;
  }
  
  img {
    width: 100%; /* Make the images take up the full width of their container */
  height: auto;
  display: block; /* Remove any default inline styles */
  margin: 0 auto; /* Center-align the images within the slideshow container */
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
  }
  
  #prevBtn {
    float: left;
  }
  
  #nextBtn {
    float: right;
  }
